<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Blog - '{{ post.title }}''</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <ul class="navigation">
            <li><a href="/">Home</a></li>
            {% if g.current_user %}
            <li><a href="/post/new">Create Post</a></li>
            <li><a href="/logout">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
            {% else %}
            <li><a href="/register">Sign Up</a></li>
            <li><a href="/login">Sign In <span class="glyphicon glyphicon-log-in"></span></a></li>
            {% endif %}
        </ul>
    </div>
    <div class="container">
        <div class="post">
            <div class="row">
                <h1>{{ post.title }}</h1>
                <br><br>
                <p class="lead text-justify">{{ post.body }}</p>
                <p>
                    posted @ {{ post.created_at.strftime('%m/%d/%Y %H:%M') }} <br />
                    by <a href="/user/{{post.user.id}}">{{ post.user.username }}</a>
                </p>

                {% if g.current_user == post.user %}
                <div class="col-sm-3 col-sm-offset-9">
                    <a class="btn btn-primary btn-lg btn-block" href="/post/{{post.id}}/edit">Edit</a>
                    <a class="btn btn-danger btn-lg btn-block" href="/post/{{ post.id }}/delete">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
